.alarm-button-container {
  position: relative;
  display: flex;
  flex-direction: column;
  /* 세로 정렬 */
  align-items: center;
  margin-right: -15px;
}

.alarm-button {
  width: 80px;
  height: 50px;
  /* padding: 10px 20px; */
  padding: 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: #ffffff;
  /* align-items: center; */
  border: none;
  border-radius: 30%;
  cursor: pointer;
  transition: transform 0.2s ease;
  position: relative;

}

.alarm-button:hover {
  transform: scale(1.1);
}

.alarm-button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

.alarm-icon {
  width: 50px;
  height: 50px;
  opacity: 60%;
}

.notification-dot {
  position: absolute;
  top: 2px;
  right: 2px;
  width: 12px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
}

.alarm-text {
  position: absolute;
  bottom: -25px;
  font-size: 1rem;
  padding: 4px 4px; 
  border-radius: 5px;
  background-color: #ff9800;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-left: 12px;
  font-family: 'GmarketSans';
}

.alarm-button-container:hover .alarm-text {
  opacity: 1; /* hover 시 글자 표시 */
}