.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  height: 576px;
  padding: 20px;
  /*background-color: #f9f9f9; */
}

.bottom-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
  width: 100%;
}

.left-controls {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
}

.my-files-cotainer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
