/* VoteModal.css */

.modal-content {
  position: relative;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.form-range {
  width: 100%;
  margin: 10px 0;
}

.vote-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.vote-button:hover {
  background-color: #0056b3;
}

.close-button {
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}


.participant-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  text-align: center;
}

.participant-card.selected {
  border-color: blue;
  background-color: #f0f8ff;
}
