.control-wrap{
  /* background-color: #f8f8f8;  */
  height: 90%;
  margin-right: 10px;
}

.roomcontrol {
  display: flex; /* Flexbox 활성화 */
  flex-direction: row; /* 가로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  /* gap: 5px; */
  width: 100%; /* 필요에 따라 너비 설정 */
  /* border-radius: 20px; */
}

.aa {
  width: 60%;
  /* background-color: #ffffff; */
  height: 100%;
}

.bb {
  width: 40%;
  /* background-color: #ffffff; */
  /* height: 100%; */
  margin: 0 auto;
}

.room-title{
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 10px;
}

