.roomcontrol {
  display: flex; /* Flexbox 활성화 */
  flex-direction: row; /* 가로 배치 */
  align-items: center; /* 세로 가운데 정렬 */
  gap: 5px; /* 요소 간 간격 */
  width: 100%; /* 필요에 따라 너비 설정 */
  height: 32vh;
  background-color: #ff0000; /* 테스트용 배경색 */
}

.aa {
  width: 60%;
  background-color: blue;
  height: 100%;
}

.bb {
  width: 40%;
  background-color: rgb(0, 255, 221);
}

