# SSH keys
.ssh/

# NPM related
.npm/

# Cache files
.cache/

# Local app data
.local/

# VSCode server
.vscode-server/

# Node modules
.node_modules/

# Bash history
.bash_history

# Less history
.lesshst

# Sudo admin success flag
.sudo_as_admin_successful

# wget history
.wget-hsts

# Authorized SSH keys
.authorized_keys