.timer-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  width: 320px;
  height: 100px;
}

.time-display {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
  width: 95%;
}

.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.control-button {
  width: 70px;
  height: 40px;
  background-color: hsl(0, 0%, 71%);
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.control-button:hover {
  background-color: #ff0000;
}
