.login-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    opacity: 0.5;
    font-size: 1rem;
}

.login-button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1.4px solid black;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  width: 100px;
  transform: translateX(-40px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #c0c0c0;
  color: white;
  padding: 10px;
  border: none;
}

.logout-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-left: 1px solid black;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  width: 100px;
  height: 42px;
  transform: translateX(-40px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  justify-content: center;
  /* 세로 중앙 정렬 */

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  /* overflow: hidden; */
  text-overflow: ellipsis;
  font-size: 1rem;
  line-height: 1;

}

.logout-button:hover {
  font-size: 1.1em;
  color: rgba(255, 145, 145, 0.8);
  /* cursor: pointer; */
  transition: font-size 0.2s;
}

.logout-text {
  display: flex;
  justify-content: center;
  align-items: center;
  /* 세로 가운데 정렬 */
  height: 24px;
  position: absolute;
  bottom: -26px;
  font-size: 1rem;
  padding: 4px 4px;
  border-radius: 5px;
  background-color: #ff9800;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.2s ease;
  margin-left: 12px;
  font-family: 'GmarketSans';
  justify-content: center;
}

.logout-button:hover .logout-text {
  opacity: 1;
  /* hover 시 글자 표시 */
}