.create-room-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width:  80px;
}
.create-room-button {
  border: none;
  /* border-radius: 40%; / */
  background-color: rgba(255, 255, 255, 0); 
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.2s ease; /* 애니메이션 추가 */
  /* padding: 5px; */
}
.create-room-button:hover {
  transform: scale(1.1); /* 크기 확대 (1.1배) */
}
.create-room-icon {
  width: 52px;
  height: 42px; /* 아이콘 크기 */
  opacity: 80%;
}