.room {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%; /* 부모 요소의 전체 너비 사용 */
  height: 100%; /* 높이는 기존 유지 */
  max-width: 1800px;
  margin: auto;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 7; /* 비율로 설정 (70%) */
  height: 100%;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 3; /* 비율로 설정 (30%) */
  height: 100%;
}
