.room {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: calc(100vh - 70px); /* 화면 전체 높이 */
  gap: 20px; /* 양쪽 컴포넌트 간 간격 */
  padding: 0;
  margin: 0;
  /* margin-left: 240px; */
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%; /* 전체 화면의 70% 너비 차지 */
  height: 100%; /* 내부 콘텐츠 크기에 맞게 */
  padding: 10px;
  box-sizing: border-box;
}

.right-side {
  display: flex;
  flex-direction: column;
  flex: 3; /* 비율로 설정 (30%) */
  height: 100%;
  padding: 10px; /* 내부 여백 */
  margin: 0; /* 외부 여백 제거 */
  box-sizing: border-box;
  background-color: #f9f9f9;
  border-left: 1px solid rgba(0, 0, 0, 0.4);
}

.room-title {
  margin: 0px;
}