.room-list-container {
  padding: 20px;
  margin: 0 auto;
  max-width: 1800px;
}

.room-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-list-title {
  text-align: left;
  font-size: 1.8em;
  color: #333;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  max-height: 550px;
  overflow-y: auto;
  padding: 10px;
}

.room-card {
  border-radius: 15px;
  width: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.room-image {
  position: relative;
  background-color: #bbbbbb;
  height: 200px;
  width: 360px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  overflow: hidden;
}

.room-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: left center;
}

.room-member-count {
  display: flex;
  position: absolute;
  bottom: 132px;
  right: 313px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.712);
  padding: 2px 5px;
  border-radius: 7px;
  font-size: 0.8em;
  font-weight: 500;
}

.room-live {
  position: absolute;
  bottom: 155px;
  right: 315px;
  font-size: 1em;
  font-weight: bold;
  color: red;
}

.room-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.room-name {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: bold;
}

.room-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
  margin-top: 8px;
}

.entry-room {
  cursor: pointer;
}

.room-creator {
  font-size: 0.9em;
  color: #666;
}