.room-list-container {
  padding: 19px;
  margin: 0 auto;
  width: 95%;
  max-width: 1550px;
  min-width: 1550px;
}

.room-list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.room-list-title {
  text-align: left;
  font-size: 1.8em;
  color: #333;
  margin-left: 45px;
}

.room-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  /* max-height: 550px; */
  overflow-y: auto;
  padding: 10px;
}

.room-card {
  border-radius: 15px;
  width: 320px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 0px;
  background-color: rgb(255, 255, 255);
}

.room-image {
  position: relative;
  /* background-color: #bbbbbb; */
  height: 200px;
  width: 320px;
  /* border-radius: 15px; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  overflow: hidden;
  opacity: 0.8;
}

.room-image img {
  width: 100%;
  height: 100%;
  /* border-radius: 8px; */
  /* object-fit: cover; */
  /* border-radius: 8px; */
  object-position: left center;
}

.room-member-count {
  border-radius: 8px;
  /* display: flex; */
  position: absolute;
  top: 0px;
  left: 65px;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.712);
  padding: 4px 4px;
  /* border-radius: 7px; */
  font-size: 1em;
  font-weight: bold;
}

.room-live {
  position: absolute;
  top: 0px;
  left: 10px;
  border-radius: 8px;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background-color: red;
  padding: 4px 4px
}

.room-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.room-name {
  font-size: 1.2em;
  margin: 5px 0;
  font-weight: bold;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.room-info {
  display: flex;
  justify-content: space-between;
  font-size: 0.9em;
  color: #666;
  /* margin-top: 8px; */
}

.entry-room {
  cursor: pointer;
}

.room-creator {
  font-size: 0.9em;
  color: #666;
}

.Debateroom-discuss-button {
  background-color: red;
}

/* ================= 케러셀 인디케이터 =================== */

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel-button {
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 1;
}

.carousel-button:disabled .carousel-button-image {
  opacity: 0.2;
  cursor: not-allowed;
}

.carousel-button-image {
  width: 30px;
  /* 이미지 크기 */
  height: 30px;
}

.room-list {
  display: flex;
  gap: 20px;
  overflow: hidden;
  width: 100%;
  justify-content: center;
}

.carousel-indicators {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.indicator {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.indicator:hover {
  transform: scale(1.4);
  /* Hover 시 크기 증가 */
}

.indicator.active {
  transform: scale(1.4);
  /* 활성 상태일 때 크기 증가 */
}

.room-list.align-left {
  justify-content: flex-start;
}

.room-list.align-left-center {
  justify-content: flex-start;
  gap: 30px;
}

.room-list.align-evenly {
  justify-content: space-evenly;
}


.room-list-wrapper {
  display: flex;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.room-list {
  display: flex;
  gap: 20px;
  transition: transform 0.5s ease;
}

.room-list-wrapper.left .room-list {
  transform: translateX(100%);
}

.room-list-wrapper.right .room-list {
  transform: translateX(-100%);
}

.room-list-wrapper:not(.left):not(.right) .room-list {
  transform: translateX(0);
  /* 기본 위치 */
}

/* ==========룸카드 css ============== */
.room-card {
  padding: 15px;
  /* border: 1px solid #ccc; */
  /* border-radius: 15px; */
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.entry-room {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
}

.room-card:hover .hover-buttons {
  transform: scale(1.03);
  opacity: 1;
  transform: translateY(0);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.hover-buttons {
  position: absolute;
  /* transform: translate(-50%, 20px); */
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  display: flex;
  /* gap: 10px; */
}

.hover-button1 {
  width: 160px;
  height: 200px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #00000080;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.hover-button2 {
  width: 160px;
  height: 200px;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: #000000d3;
  color: white;
  border: none;
  cursor: pointer;
  transition: transform 0.3s, background-color 0.3s;
}

.hover-button1:hover {
  background-color: #ffffff;
  color: black;
  transform: scale(1.05);
}

.hover-button2:hover {
  background-color: #ffffff;
  color: black;
  transform: scale(1.05);
}


.room-buttons {
  display: flex;
  gap: 5px;
  justify-content: right;
  /* 상단 요소 아래로 이동 */
}

.room-discuss-button {
  background-color: #000000d3;
  color: white;
  border: none;
  /* border-radius: 8px; */
  padding: 5px 5px;
  font-size: 1rem;
  line-height: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'GmarketSans', sans-serif;
}

.room-discuss-button:hover {
  background-color: #a8a8a8;
}

.room-spectate-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  /* border-radius: 8px; */
  padding: 5px 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: 'GmarketSans', sans-serif;
}

.room-spectate-button:hover {
  background-color: #a8a8a8;
}

/*============================룸 태그 css ===================================*/
.room-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  /* margin-top: 10px; */
  padding: 5px 10px;
}

.tag-item {
  background-color: #f3f3f3;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px 8px;
  font-size: 0.8rem;
}

.tag-placeholder {
  font-size: 0.8rem;
  color: #999;
  /* padding: 5px 8px; */
}

.card-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* gap: 10px; */
  /* margin-top: -15px; */
}

/* 모바일 화면 스타일 */
/* @media (max-width: 768px) {
  .room-list-container {
    padding: 10px;
    width: 100%;
  }

  .room-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 0;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }

  .room-card {
    flex: 0 0 100%;
    margin-right: 10px;
    height: 900px;
  }

  .room-image {
    position: relative;
    background-color: #bbbbbb;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    overflow: hidden;
  }

  .carousel-button {
    display: none;
  }

  .carousel-indicators {
    display: none;
  }
} */