.room {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 94%;
  height: 93vh;
  max-width: 1800px;
  max-height: 1000px;
  margin: auto;
  box-sizing: border-box;
}

.left-side {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
  height: 100%;
  /* background-color: red; */
}

.right-side {
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 100%;
  /* background-color: blue; */
}

