.room-info__profile {
  position: absolute;
  top: -101px;
  left: -570px;
  /* width: 100px; */
  height: auto;
  display: flex
;
  flex-direction: column;
  grid-gap: 10px;
  gap: 10px;
  /* justify-content: center; */
  align-items: center;
  border-radius: 8px;
}