/* Categories.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

.profile-container {
  width: 170px;
  /* background-color: #f7f9fc; */
  /* background-color: rgba(255, 0, 0, 0.1); */
  /* border-radius: 35px; */
  border-bottom-left-radius: 35px;
  padding: 20px;
  text-align: center;
  /* box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); */
  font-family: 'Poppins', Arial, sans-serif; /* 폰트 변경 */
  min-height: 360px; /* 높이 조정 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

.profile-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* 중앙 정렬 */
  margin-bottom: 20px; /* 적절한 하단 여백 */
}

.profile-img {
  width: 100px;
  height: 100px;
  background: linear-gradient(135deg, #ff9a9e, #fad0c4);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-hello {
  margin-left: 10px;
}

.edit-button {
  position: absolute;
  top: -5px; /* 더 위로 이동 */
  right: -10px; /* 더 자연스럽게 배치 */
  background-color: #4caf50;
  border: none;
  border-radius: 20px;
  padding: 8px 14px;
  font-size: 14px; /* 버튼 폰트 크기 증가 */
  font-family: 'Poppins', Arial, sans-serif; /* 폰트 변경 */
  cursor: pointer;
  color: #fff;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-img:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.profile-info {
  text-align: center; /* 중앙 정렬 */
  margin-top: 15px; /* 위쪽 간격 줄이기 */
  color: #333;
}

.username {
  font-size: 22px; /* 폰트 크기 증가 */
  font-weight: 700; /* 폰트 굵기 변경 */
  margin-bottom: 12px;
  color: #2c3e50;
}

.profile-info p {
  font-size: 16px; /* 폰트 크기 증가 */
  margin: 8px 0; /* 간격 조정 */
  color: #555;
}

.profile-info p span {
  font-weight: bold;
  color: #2980b9;
}

.history-button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.history-button:hover {
  background-color: #45a049;
}
