.participant-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: none;
  /* width: 100%;          
  max-width: 1024px;   */
  width: 1024px;
  height: 576px;
  background-color: #333;
  color: #fff;
  font-size: 48px;
  border-radius: 8px;
  position: relative;
}

.file-input {
  margin-top: 10px;
  padding: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.file-input:hover {
  background-color: #0056b3;
}

.file-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.media-preview {
  max-width: 100%;
  max-height: 300px;
  border-radius: 8px;
}