.topics-slider {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.topic-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease-in-out;
}

.topic-content.active {
  opacity: 1;
  transform: translateX(0);
}