.chat-window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin-left: 20px;
}

.chat-header {
  background-color: white;
  padding: 3px;
  font-weight: bold;
  text-align: left;
  border-bottom: 1px solid #ddd;
  color: #333;
}

.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  background-color: #ffffff;
}

.message {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.message .message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e0e0e0;
  margin-right: 10px;
}

.message .message-content {
  max-width: 70%;
  padding: 10px;
  background-color: #ececec;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
}

.message.you .message-content {
  background-color: #ffffff;
  align-self: flex-end;
  /* border-radius: 2px solid black; */
}

.message-meta {
  font-size: 0.8rem;
  color: #777;
  margin-top: 5px;
}

.chat-footer {
  display: flex;
  padding: 5px;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.chat-footer button {
  margin-left: 10px;
  border: none;
  background-color: white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #ebebeb;
}


.input-wrapper {
  margin-top: 5px;
  position: center;
  width: 90%;
}

.input-wrapper input {
  width: 100%;
  height: 30px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  /* 버튼 영역 확보 */
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
}

.room-send-button {
  position: absolute;
  right: -20px;
  /* input 내부 오른쪽 끝에서 10px */
  top: 50%;
  transform: translateY(-50%);
  background: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.room-send-button .send-icon {
  width: 24px;
  /* 아이콘 크기 */
  height: 24px;
  opacity: 60%;
}