/* TestChat.css */

/* 채팅창 전체 스타일 */
.chat-window {
  background-color: #f9f9f9;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* border: 5px solid #eeee76; */
  /* border-left: 1px solid rgba(0, 0, 0, 0.4); */
  /* border-radius: 6px; */
  margin-top: 10px;
}

/* 헤더 스타일 */
.chat-header {
  background-color: #f9f9f9;
  /* background-color: #ffffff; */
  padding: 3px;
  font-weight: bold;
  text-align: center;
  /* border-radius: 6px; */
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.4); */
  color: #333;
}

/* 채팅 메시지 영역 스타일 */
.chat-body {
  flex: 1;
  overflow-y: auto;
  padding: 15px;
  /* background-color: #ffffff; */
  background-color: #f9f9f9;
}

/* 각 메시지 스타일 */
.message {
  display: flex;
  /* align-items: center; */
  margin-bottom: 10px;
}

.message .message-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* background-color: #e0e0e0; */
  margin-right: 10px;

  flex-shrink: 0;
  flex-grow: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.message .message-content {
  display: flex;
  max-width: 100%;
  word-wrap: break-word;
  word-break: break-word;
  overflow-wrap: break-word;

  /* padding: 10px; */
  /* background-color: #f5f5f5; */
  gap: 3px;
  border-radius: 8px;
  font-size: 0.9rem;
  color: #333;
}


.user-message {
  border-top-left-radius: 0px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  /* border: 1px solid black; */
  /* margin: 7px; */
  padding: 7px;
  font-weight: lighter;
}

.message.you .message-content {
  /* background-color: #ffffff; */
  align-self: flex-end;
}

/* 메시지 메타데이터 스타일 (시간, 작성자 등) */
.message-meta {
  font-size: 0.6rem;
  color: #777;
  margin-top: 5px;
  margin-right: 10px;
}

/* 채팅 입력창 하단 스타일 */
.chat-footer {
  display: flex;
  padding: 5px;
  /* background-color: #ffffff; */
  background-color: #f9f9f9;
  /* border-top: 1px solid #ddd; */
}

/* 입력창 스타일 */
.chat-footer input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
}

.chat-footer button {
  margin-left: 10px;
  border: none;
  background-color: white;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.chat-footer button:hover {
  background-color: #ebebeb;
}

/* 버튼 및 입력창 주변 스타일 */
.input-wrapper {
  margin-top: 5px;
  display: flex;
  /* 수평으로 버튼들을 배치 */
  justify-content: flex-start;
  /* 왼쪽 정렬 */
  align-items: center;
  /* 수직 정렬 */
  width: 100%;
}

.input-wrapper input {
  width: 80%;
  height: 30px;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border: 1px solid #ddd;
  border-radius: 2px;
  outline: none;
}

.room-send-button {
  margin-left: 10px;
  background: white;
  border: none;
  padding: 0;
  cursor: pointer;
}

.room-send-button .send-icon {
  width: 24px;
  height: 24px;
  opacity: 60%;
}

/* 모달 버튼 스타일 */
.modal-button {
  margin-left: 10px;
  background-color: white;
  border: none;
  cursor: pointer;
}

.modal-button .modal-icon {
  width: 24px;
  height: 24px;
  opacity: 60%;
}

/* 모달 스타일 */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  text-align: center;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}