.login-button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1.4px solid black;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  width: 100px;
  transform: translateX(-50px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  transition: background-color 0.3s;
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  border: 1.4px solid black;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: 500;
  width: 100px;
  height: auto;
  transform: translateX(-50px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  transition: background-color 0.3s;

  /* 글씨 크기가 자동으로 줄어들도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* 긴 텍스트 크기 조정 */
  white-space: nowrap;
  /* 줄바꿈 방지 */
  overflow: hidden;
  /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;

  /* 글씨 크기 유동 조정 */
  font-size: calc(100% + (10px - 0.5vw));
  /* 적응형 글꼴 크기 */
  line-height: 1;
  /* 텍스트 높이 조정 */
}