.login-button {
  padding: 8px 16px;
  border-radius: 20px;
  border: 1.4px solid black;
  color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  width: 100px;
  transform: translateX(-40px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #c0c0c0;
  color: white;
  padding: 10px;
  border:none;
}

.logout-button {
  padding: 8px 16px;
  border: none;
  border-left: 1px solid black;
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
  font-size: 1.2em;
  font-weight: bold;
  width: 100px;
  height: auto;
  transform: translateX(-50px);
  background-color: rgba(255, 255, 255, 0.651);
  margin-left: 50px;
  transition: background-color 0.3s;

  /* 글씨 크기가 자동으로 줄어들도록 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  /* 긴 텍스트 크기 조정 */
  white-space: nowrap;
  /* 줄바꿈 방지 */
  overflow: hidden;
  /* 넘치는 텍스트 숨김 */
  text-overflow: ellipsis;

  /* 글씨 크기 유동 조정 */
  font-size: calc(100% + (10px - 0.5vw));
  /* 적응형 글꼴 크기 */
  line-height: 1;
  /* 텍스트 높이 조정 */
}

.logout-button:hover {
  font-size: 1.1em; /* 글씨 크기를 키움 */
  color: rgba(255, 145, 145, 0.418);
  cursor: pointer; /* 커서를 포인터로 변경 */
  transition: font-size 0.3s, background-color 0.3s; /* 애니메이션 부드럽게 적용 */
}