.layers {
  display: flex;
  flex-direction: column;
  /* 위에서 아래로 배치 */
  height: 96vh;
  /* 전체 화면을 차지 */
  /* overflow: hidden; */
}

.main-layout {
  display: flex;
  /* flex-direction: column; */
  flex: 1;
  margin-top: 70px;
  height: calc(97vh - 100px);
  box-sizing: border-box;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 70px);  */
  width: 100%;
  /* 전체 폭 사용 */
  box-sizing: border-box;
  /* 패딩 포함 크기 계산 */
  padding: 0;
  /* 추가 여백 제거 */
  margin-left: 240px;
}

.mobile-fallback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 83vh;
  text-align: center;
  /* background-color: #f8f9fa; */
  position: relative;
}

.mobile-logo {
  width: 220px;
  height: auto;
  margin-bottom: 60px;
}

.mobile-logo2 {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.mobile-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #dc3545;
  margin-bottom: 10px;
}

.mobile-text {
  font-size: 1rem;
  color: #495057;
  margin-bottom: 30px;
}

.mobile-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-fit: cover;
  opacity: 0.7;
}